<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787470094102-6lp9528tvcfulk5b4f1oj3f2sc26duq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787470094102-6lp9528tvcfulk5b4f1oj3f2sc26duq2</string>
	<key>API_KEY</key>
	<string>AIzaSyBRDt4SFXB-ov7mCDQoydD_OvE9XoQj7g8</string>
	<key>GCM_SENDER_ID</key>
	<string>787470094102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stylemixthemes.masterstudyapp</string>
	<key>PROJECT_ID</key>
	<string>masterstudy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>masterstudy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787470094102:ios:db2df4db10d31beb844a37</string>
	<key>DATABASE_URL</key>
	<string>https://masterstudy-app.firebaseio.com</string>
</dict>
</plist>